<ion-view view-title="CWAP" hide-nav-bar="true">
  <ion-content class="padding">
    <div class="pageContent">
      <div class="header">
        <p>C.W.A.P</p>
        <i class="ion-android-more-vertical menuIcon"></i>
      </div>

      <div class="action" ng-click="showAction()">
        <img src="img/usual.jpeg" class="actionImage">
        <div class="actionName">Usual Activities</div>
      </div>

      <div class="action" ng-click="showAction()">
        <img src="img/fun.jpeg" class="actionImage">
        <div class="actionName">Fun</div>
      </div>

      <div class="action" ng-click="showAction()">
        <img src="img/sport.jpg" class="actionImage">
        <div class="actionName">Sport</div>
      </div>

      <div class="action" ng-click="showAction()">
        <img src="img/emotions.jpeg" class="actionImage">
        <div class="actionName">Emotions</div>
      </div>
    </div>
  </ion-content>
</ion-view>
